[2019-02-09 20:08] tesseralis opened #1 "[OLD] Legacy Persian Translation Progress"
## For New Translators

To translate a page:

1. Check that no one else has claimed your page in the checklist and comments below.
2. Comment below with the name of the page you would like to translate. **Take only one page at a time**.
3. Clone this repo, make your translations locally, and submit a pull request!

Before contributing, read the glossary and style guide (once they exist) to underst

[2019-02-11 16:36] Schabaani commented on #1
started: Hello World

[2019-02-11 20:28] c0m1t commented on #1
Introducing Hooks
#7

[2019-02-11 20:55] masoud-bahrami commented on #1
Tutorial page is in my WIP

[2019-02-24 07:39] nimahkh commented on #1
I have not seen this post before
I started a persian documentation on git  : github.com/nimahkh/persian-react-book
this book is about react native and react js , you can contribute on it and update it

[2019-02-24 08:50] Mhmdrza commented on #1
Hello, I want to contribute; Which page is better to start?

[2019-02-24 09:13] sorousht commented on #1
Hey @Mhmdrza,
It's preferred to start with Core Pages -> Basics, especially with the written order. eg. Introducing JSX, Rendering Elements and Components and Props.

[2019-02-24 09:58] Mhmdrza commented on #1
I'm on "Introducing JSX"

[2019-03-01 14:35] amerllica opened #29 "ترجمه توسط جامعه ری‌اکت ایران"
<div dir="rtl">
با سلام.
من یکی از اعضای و اونرهای <a href="https://iran-react-community.github.io">جامعه ری‌اکت ایران</a> هستم.
لینک اورگان ما هم توی گیت‌هاب <a href="https://github.com/iran-react-community">اینجاست</a>.
<br/>
از این ریپو شما یک فورک گرفتم و استارت شروع رو زدیم. اعضای ما زیاد هستند، می‌خوایم همکاری کنیم و کار رو جلو ببریم. من تمام راهنماهای شما رو خوندم.
<br/>
فقط نمی‌دونم شما دق

[2019-03-01 15:00] sorousht commented on #29
<p dir="rtl">
سلام @amerllica عزیز
</p>
<p>
خیلی خوشحالم که علاقه‌مند هستید و به جمع ما خوش آمدید.
</p>
<p>
هدف اولیه ما ترجمه Core Pages هست. اینجا #1 لیست صفحات هست و هر مشارکت‌کننده یک صفحه رو (ترجیا به ترتیبی که نوشته‌شده) انتخاب و اعلام می‌کنه و یکی از نگاه‌دارندگان پروژه اسم اون شخص رو روبروی عنوان صفحه اضافه می‌کنه که دیگران هم درجریان باشند و تداخل پیش نیاد. در آخر هم بعد از ادغام کد با مخ

[2019-03-01 15:39] amerllica commented on #29
<div dir=rtl>
ممنونم سروش عزیزم

این سه صفحه رو برمی‌دارم و از بچه‌های جامعه فقط خودم و نیما کار می‌کنیم روش. یکم دستمون که راه افتاد و ابزارهای بهتری پیدا کردیم برای بقیه هم بازش می‌کنیم. ما حدود ۱۰۰ نفریم.

فقط من یه مشکل توی اجرا  و یه سوال دیگه هم دارم.

من یه فورک گرفتم و مستر رو yarn کردم این شد:
![image](https://user-images.githubusercontent.com/10472437/53648582-7be4f500-3c55-11e9-944e-fd8

[2019-03-01 16:10] sorousht commented on #29
<p dir="rtl">
@amerllica عزیز
</p>
<p dir="rtl">
از متن خطا متوجه شدم که نسخه node  سیستم شما ۱۰.۱۴.۲ هست. همون طور که توی README اشاره شده، باید از node نسخه ۸ استفاده بشه. اگر مشکل با تغییر نسخه node حل نشد، حتما به من خبر بدید.
</p>
<p dir="rtl">
و در مورد روش کار و شاخه‌ها توضیح کوتاهی در صفحه راهنمای مشارکت کنندگان آورده شده. اون شاخه هایی که با <code>sync-</code> شروع می شوند، برای به روز رس

[2019-03-02 08:11] amerllica commented on #29
<div dir=rtl>
مرسی سروش عزیز

از کمکتون ممنونم. ما برای دولوپ برنامه‌هامون باید از آخرین نسخه node استفاده کنیم. فکر کنم باید از nvm استفاده کنم تا درست بشه. راستش توی فایل توضیحات README خونده بودم ولی فکر نمی‌کردم که نسخه بالاتر رو پشتیبانی نکنه.

در مورد PR ها هم کاملا متوجه شدم. من ریپوی فورک شده رو درستش می‌کنم. اون sync ها رو پاک می‌کنم. ما با سیستم‌های خودمون پیشروی می‌کنیم که توضیحاتم در م

[2019-03-02 08:11] #29 closed

[2019-03-03 00:41] sJJdGG commented on #29
@amerllica
تشکر بابت وقتی که میگذارید
در مورد اون ارورت هم که خود من از داکر استفاده میکنم
راه دیگه هم بدون استفاده از nvm نصب ورژن ۸ بدون اضافه کردنش به path هستش

[2019-03-03 08:26] amerllica commented on #29
@sJJdGG
<div dir=rtl>
ممنونم از اینکه پیام من رو دیدید، فقط من نیستم که می‌خوام روی این پروژه ارزشمند کار کنم، جامعه ری‌اکت کارهای ایران پشتش هستند. من فقط دارم هماهنگی‌ها رو انجام میدم که الباقی دوستان هم بتونن بیان و کمک کنن.

من برای مشکلم از nvm استفاده کردم ولی باز هم توی اجرا مشکل دارم. فکر کنم ایندفعه yarn م با نسخه نود هشت هماهنگ نیست.
</div>

[2019-03-03 11:24] sorousht commented on #29
<p>@amerllica عزیز،</p>
<p dir="rtl">
اگر مشکل برطرف نشد، متن خطا رو اینجا قرار بده، شاید با کمک هم بتونیم برطرفش کنیم.
</p>
<p>در مورد ترجمه یک پیشنهاد دارم. از ترجمه صفحه اول (یعنی <a href="https://github.com/reactjs/fa.reactjs.org/blob/master/content/docs/handling-events.md">Handling Events</a>) شروع کنید. اینطوری با روال کامل کار آشنا می‌شوید و کار برای صفحه‌های بعدی آسان‌تر خواهد شد. اگر مواف

[2019-03-03 12:05] amerllica commented on #29
Dear @sorousht

<div dir=rtl>
صددرصد موافقم، همونطور که در پست‌های بالاتر خود شما فرمودید سه صفحه:
<ul>
<li>Handling Events</li>
<li>Conditional Rendering</li>
<li>Lists and Keys</li>
</ul>
رو من «ما» کار می‌کنیم.

مساله اینه که من نمیتونم پروژه رو run بگیرم و واقعا هرکاری دستم بر اومده کردم. از nvm هم استفاده کردم ولی باز همون خطایی رو گرفتم که در بالا عکسش رو گذاشتم. اگر اینطوری نمیشه یه داکر ای

[2019-03-03 20:32] amerllica commented on #29
Dear @sorousht , @sJJdGG

<div dir=rtl>
مشکل من حل شد، بارها این اتفاق افتاده برام و باز هم یادم میره اول این رو چک کنم، مشکل من فایل yarn.lock بود.

پاکش کردم و خودم yarn install گرفتم و درست شد.

خطاها به خاطر نسخه node نبود، هرچند ممنونم، باعث شد بشینم داک nvm رو بخونم و کامل برای سیستم خودم تنظیمش کنم.

فقط تنها سوالم اینه که الآن فایل yarn.lock خودم رو پوش کنم؟ و توی اون PR ـی که از طرف خودمو

[2019-03-03 20:50] sorousht commented on #29
<p dir="rtl" >
سلام مجدد @amerllica
</p>
<p dir="rtl">
خوبه که حل شد! فایل <code>yarn.lock</code> هم به نظر من باید کامیت بشه.
</p>
<p dir="rtl">
در مورد صفحه‌ها، ترجیح تیم ترجمه اینه در یک زمان بیش از یک صفحه به یک شخص واگذار نشود. چون شما نماینده تیم هستید، من صفحه اول رو به شما واگذار می‌کنم. بعد از انجامش صفحه دیگری رو انتخاب کنید و با همین روش پیش می‌ریم.
هر سوال یا کمکی نیاز بود من در خدمتم.

[2019-03-04 07:50] amerllica commented on #29
Dear @sorousht

<div dir=rtl>
فایل yarn.lock رو توی گیت ایگنور گلوبالم گذاشتم. فکر نکنم درست باشه شما yarn.lock من رو داشته باشید. وقتی شما هیچ مشکلی باهاش ندارید. ولی باز هم اگر نیازه بفرمایید که از توی ایگنور درش بیارم و پوش کنم.

در مورد واگذاری هم به نظرم شروع شما با تخصیص یک صفحه به من کار خوبیه. ولی به نظرم در آینده یه قسمت رو بدید به من که من روی ترلو به بچه‌هامون بدم و کار ترجمه رو انجام ب

[2019-03-04 08:58] black-sheep777 commented on #1
Conditional Rendering

[2019-03-04 10:03] sorousht commented on #1
Hi @black-sheep777
Absolutely! I assigned it to you :)

[2019-03-04 10:16] nimahkh commented on #1
الان دارید به فارسی ترجمه میکنید؟ فارسی وقتی نمیتونید صحبت کنید چه کاریه؟قبل اینکه بخواین مشارکت کننده هم بشید بهتره یک دوره گیت رو یک روزه نگاه کنید . واجب نیست حتما . نظر بودا

[2019-03-04 10:42] sorousht commented on #1
<p dir="rtl">
سلام @nimahkh عزیز
</p>
<p dir="rtl">منظور شما رو درست متوجه نشدم! اگر متوجه ایرادی توی کار ما شدید، لطفا واضح‌تر بنویسید و بهمون کمک کنید که کارمون رو بهبود بدیم.</p>
<p>ممنون از شما</p>

[2019-03-04 10:50] zahrajoulaei commented on #1
@nimahkh
ما هم خدمت شما سلام عرض میکنم و از ادب و کمالتون سپاسگذاریم و خوشحالیم اگر فرد باتجربه ای هستید و قصد کمک در این روند رو دارید منظور و ایرادات وارده که صد البته در ابتدای هر کار، آن هم داوطلبانه وجود دارن رو عرض کنید.
با تشکر

[2019-03-04 10:57] nimahkh commented on #1
بی ادبی به کسی نکردم .
اگر داریم ری اکت رو به فارسی ترجمه میکنیم ، از بالا که خوندم متوجه شدم همه کامنت ها برای ایرانیایی هست که به انگلیسی صحبت میکنند . خوبه یک سر به گیت زبان های کشور های دیگه بزنیم و ببینیم که همه با احترام به کاری میکنند ، به زبان خودشون صحبت میکنن .
گیت زبان واحد نداره که ما انگلیسی صحبت کنیم .
مورد بعدی هم که اشاره کردم این بود که شما به یک سری از افراد فراخوان زدید و گفتید

[2019-03-04 11:01] nimahkh commented on #1
<div align="right" dir="rtl">
هدفتون قابل تحسینه . توی کامنت بالا ذکر کردم موردم رو .
<br/>
من یک پروژه دارم که روی اون دارم تمرکز میکنم و زمان کافی ندارم برای این پروژه . اما بر خورندست که گیت ترجمه فارسی ، انگلیسی هست .
<br/>
گیت بنده :
https://github.com/nimahkh/persian-react-book
<br/>
سپاس
</div>

[2019-03-04 11:29] sorousht commented on #1
<p dir="rtl">
@nimahkh ممنون که توضیح دادید. متوجه منظور شما شدم.
</p>
<p>
ما همه صفحات راهنما رو به فارسی نوشتیم و تمام تلاشمون رو کردیم که ساده، روان و همچنین همه مطالب رو در بر بگیره. اگر برای بهبود صفحات پیشنهادی دارید، لطف بسیار بزرگی هست و ما قدردان شما هستیم.
</p>
<p>
در مورد انگلیسی یا فارسی نوشتن کامنت‌ها، هدف ارتباط هست و فارسی یا انگلیسی بودنش به انتخاب خود شخص هست. لزومی به سخت گیری تو

[2019-03-04 12:42] sJJdGG commented on #29
اگه میخوای استثنا مربوط به فایل yarn.lock رو به .git/info/exclude میتونی اضافه کنی.
این فایل مثل .gitignore ئه ولی مثل اون فایل پوش نمیشه و لوکاله و توی pr هم نمیاد.

بتز اگه مشکلی بود بگو هر کمکی از دستمون بربیاد میکنیم
@amerllica

[2019-03-04 14:22] masoud-bahrami commented on #1
@nimahkh
من هم متوجه نشدم چرا اینقده جدی و حق به جانب انگار که از جانب افرادی که زحمت برگردان رو کشیدن/می کشن؛ توهینی شده باشه.

در ضمن اینجا هدف آموزش ابزار نیست. گیت ابزارِ
 کار قرار نیست و هدف هم نیست که آموزش گیت توی این پروژه طی بشه. اگر البته نیاز باشه و تشخیص داده شه منابع ارزشمند فارسی/انگلیسی زیاد هست که می توان به دوستان علاقمند و بی ادعا داده شه.

این جمله رو هم متوجه نشدم به چه چیزی اش

[2019-03-04 17:44] amerllica commented on #29
Dear @sJJdGG

<div dir=rtl>
مرسی سجاد جان، من فایل <code>yarn.lock</code> رو در گیت ایگنور گلوبالم قرار دادم. آدرسش <code>~/.gitignore_global</code> هست. درست شد. از سروش هم یک صفحه گرفتم ترجمه می‌کنم و از طریق کامیونیتی ری‌اکت براتون PR ارسال می‌کنم.

موضوع اینه برای آینده خواهشا به من درخت بدید، بین بچه‌هامون تقسیم می‌کنیم سعی می‌کنیم در کنار کیفیت، کمیت بیشتری رو هم پشتیبانی کنیم.

تنها خواهش م

[2019-03-05 02:42] iamhosseindhv commented on #1
دوستان سلام با تشکر از contribution هاتون
خیلی عالیه که این پروژه وجود داره

Suggestion for having a more organised repository and to make it easier to keep track of the progress and remaining tasks:

I can:
* Create a new issue for each page of the documentation. (i.e. Hello World, Introducing JSX, etc.)
* Tag each one with its corresponding category title (e.g. "Installation", "Main concepts", "

[2019-03-05 05:15] tesseralis commented on #1
It's fine to split everything up into different issues, but we don't recommend it. There are **88** pages here, which means 88 issues. It's hard to keep track of, especially if the more important issues like "Getting Started" get pushed past the first page.

If you're concerned about the page being already too long, you can check a more complete translation like [Spanish](https://github.com/reactj

[2019-03-05 12:21] mohsenkhanpour commented on #1
I am doing "Components and Props".

[2019-03-05 12:52] sorousht commented on #1
Hey @mohsenkhanpour
Great to have you on board! I assigned that to you.
Let me know if you have any question.

[2019-03-06 10:31] asafari72 commented on #1
Hi,
i'm working on "Lists and Keys"

have luck

[2019-03-06 11:41] mjraadi commented on #1
I'll get stared on the "Forms" section.

[2019-03-06 12:04] sorousht commented on #1
Hey @mjraadi
Welcome :)
I assign it to you. Please feel free to ask any question.

[2019-03-06 12:56] Mvahedii commented on #1
I want Fragments to translate

[2019-03-06 13:33] sorousht commented on #1
Hi @Mvahedii
We suggest starting with core pages. Whould you mind if you pick one of the remaining from Basics section?
Here are three options:
-  Lifting State Up
- Composition vs Inheritance
- Thinking in React

If you are not interested in the above pages, I will assign the one you requsted (Fragments).

[2019-03-07 07:19] morajabi commented on #1
@sorousht I'd love to take "Lifting State Up" page, you're doing great here :)

[2019-03-07 08:09] sorousht commented on #1
Hey @morajabi
Thanks, It's a pleasure having you with us :)
I've just assigned the page to you.

[2019-03-07 18:16] Mvahedii commented on #1
@sorousht Ok I am doing Thinking in React. All Right!?

[2019-03-07 18:25] sorousht commented on #1
@Mvahedii Perfect! I assign it to you :)

[2019-03-07 20:00] foadms commented on #1
Hey! I'm gonna do "Composition vs Inheritance". Is that alright?

[2019-03-07 20:15] sorousht commented on #1
Hey @foadms
Welcome, It has been assigned to you :)
Feel free to ask any question.

[2019-03-09 11:56] sorousht commented on #1
Hi @Schabaani,
Any update on "Hello World"?

[2019-03-15 06:26] MortezaHeydari97 opened #35 "نحوه استفاده از react.js فارسی"
چطور میتونم از نسخه فارسی آموزش react.js استفاده کنم؟؟؟؟؟؟؟؟
لینکش کجاست؟؟؟؟ میشه لینکشو برام بفرستید؟؟؟

[2019-03-16 21:00] sJJdGG commented on #35
<p dir='rtl'>
با سلام. هنوز ترجمه به حداقل ممکن نرسیده که سایت رسمی آنلاین بشه. ولی شما میتونید با مراجعه به pull request ها آخرین پیش نمایش رو روی netlify بیبندید بدون این که نیاز به fork رپو داشته باشید.
</p>

<p dir='rtl'>
برای مثال آخرین پیش نمایش سایت ترجمه شده در زمان نگارش آدرس زیر میباشد:
</p>

https://deploy-preview-34--fa-reactjs.netlify.com/

[2019-03-16 21:00] #35 closed

[2019-03-20 22:51] amiratak88 commented on #1
Can I work on Shallow Renderer?

[2019-03-20 23:36] sorousht commented on #1
Hi @amiratak88
Sure, I assign it to you.

[2019-03-21 04:07] amiratak88 commented on #1
Wasn't sure if I had to create a new issue for this, but do u guys have a slack workspace/telegram channel where we could chat and ask questions? Or should we create one?

[2019-03-21 12:41] Mvahedii commented on #1
Hi @amiratak88
the Iran React Community Group Link is here : https://b2n.ir/ir-react

[2019-03-21 13:25] sorousht commented on #1
@amiratak88 Please feel free to file an issue if you have any question. Additionally, We have a Slack workspace for further discussions. I just sent you an invitation.

[2019-03-22 10:50] nimahkh commented on #1
سلام . صفحه اصلی جامعه ری اکت ایران در گیت :‌
https://iran-react-community.github.io/
شما میتوانید از طریق لینک ها ما را دنبال کنید

[2019-03-23 16:10] mahdinba97 commented on #1
Hi! can I get "React" from "API Reference"?

[2019-03-23 16:21] mahdinba97 commented on #1
I think "lifecycle" can be translated to "چرخه حیات" if this is the right place to say it. and "state" can be translated to "حالت". Maybe these two words are understandable in Persian.

[2019-03-23 18:53] mahdinba97 commented on #1
Another question... Is anybody going to translate menus?

[2019-03-23 20:59] Mhmdrza commented on #1
@mahdinba97 I don't think translating "state" to "حالت" would be meaningful in this context, since the term "حالت" can be occurred when it doesn't mean "State" too; consider this sentence in Persian:
" در حالت اول فلان اتفاق میافتد ولی در حال دوم بیسار رخ میدهد "
In technical essays translating such keywords might hurt the meaning.. by the way I think "State" is closer to these words "‍‍‍ن‍‍"حافظه

[2019-03-24 00:58] mahdinba97 commented on #1
Yes, I think you are right about that. But I think "وضعیت" is in the same place as "حالت" and the other two words can be translated to other words too. So maybe we can just let state to stay like what it is now.

[2019-03-24 07:06] sorousht commented on #1
Hi @mahdinba97
Welcome, I assign that page to you.

By the way, Please feel free to file a new issue or participate in improving [our glossary](https://github.com/reactjs/fa.reactjs.org/blob/master/TRANSLATION.md).

[2019-03-24 21:43] Kosarh79 commented on #1
I'll do Hooks at a Glance

[2019-03-25 02:42] mahdinba97 commented on #1
done translating React. could you please check it, and then let me translate React.Component?

[2019-03-25 11:55] zahrajoulaei commented on #1
Thank you @mahdinba97 . First, wait for the approval of your PR and merge it, then start the new one please. I have written some comments on your PR but still didn't look at it completely. I'll also assign @sorousht to have a review on it.

[2019-03-25 12:08] zahrajoulaei commented on #1
Ok then I will assign it to you🎉

[2019-03-25 21:13] mohsenkhanpour commented on #1
Hey everyone, I am moving forward with my translations, I suggest opening another issue to discuss possible translations for some specific words. Also I submitted [a PR](https://github.com/reactjs/fa.reactjs.org/pull/40) to change the font to "[Sahel](https://github.com/rastikerdar/sahel-font)" to improve readability. You can check the preview generated by Netlify on my PR [here](https://5c9942aa9

[2019-03-26 03:52] mahdinba97 commented on #1
By the way. RTL is applied in the text, but it's not applied to the code comments. Could it be fixed? I wanted to translate the comments but it was impossible!

[2019-03-26 09:16] mohsenkhanpour opened #41 "Glossary Discussion"
This issue is created to submit words that are not found on repo's [glossary](https://github.com/reactjs/fa.reactjs.org/blob/master/TRANSLATION.md) also to further  discuss the translation of specific words.

[2019-03-26 09:22] mohsenkhanpour commented on #41
Two words I didn't find in the glossary:
**1. Element** (it is used a lot too: DOM element, React element, ...)

<div dir="ltr">
I saw @sorousht using "المنت" though I suggest either going with "element" or "عنصر" which has the exact same meaning in Persian as in English.
<div>

**2. Scope**
Looking for a translation for this one.

[2019-03-26 11:05] sorousht commented on #41
<p dir="rtl">
@mohsenkhanpour عزیز، اتفاقا ما درمورد element خیلی بحث داشتیم. معادل‌های مناسبی مثل المان، عنصر یا مولفه پیشنهاد شده‌است، اما ما توسعه‌دهنده‌ها در صحبت‌های روزمره از المنت استفاده می‌کنیم. سعی ما این است که تا حد ممکن به زبان فنی نزدیک باشیم تا فهم متن آسان باشد. از طرف دیگر هم واقعا نگران پیدا کردن معادل‌های مناسب فارسی هم هستیم. وقتی چشم خواننده به یک معادل فارسی می‌خورد، باید در

[2019-03-26 11:11] sorousht commented on #41
scope ---> scope  :)

[2019-03-26 11:40] mohsenkhanpour commented on #41
@sorousht 	ممنون بابت توضیح، من تو واژه نامه کلمه رو پیدا نکردم برای همین رجوع کردم به متنی که ترجمه کرده بودی. طبق تحقیقی که من انجام دادم در علوم کامپیوتر element رو عنصر ترجمه می‌کنند:
![image](https://user-images.githubusercontent.com/28626829/54993593-cbfa7180-4fdf-11e9-84ef-2f25b5aea971.png)
همچنین در [ویکیپدیا](https://fa.wikipedia.org/wiki/%D8%B9%D9%86%D8%B5%D8%B1_%D8%A7%DA%86%E2%80%8C%D8%

[2019-03-26 11:52] sorousht commented on #41
<p dir="rtl">
@mohsenkhanpour جان، ما نمونه کد ها رو ترجمه نمی کنیم. فقط در بعضی موارد خاص کامنت‌ها رو ترجمه می‌کنیم. در مثال کد بالا element فقط یک اسم متغییر هست و می‌شود هر اسمی انتخاب کرد. فکر نمی کنم مشکلی ایجاد کند. اما در مورد استفاده از "عنصر" من ۵۰-۵۰ هستم و باید نظر دیگران رو هم بشنویم. چون تصمیم قبلی یک تصمیم جمعی بود :)
</p>

[2019-03-26 11:59] sorousht commented on #41
@mohsenkhanpour I sent you an invitation to join our Slack workspace if you are interested in discussing such topics.

[2019-03-26 12:15] mahdinba97 commented on #41
what should we do about "top-level" and "higher order"? they somehow have the same meaning in Persian but their different. I translated top-level to ترازبالا and higher order to مرتبه بالا. they seem to be the same. And also "method" and "function" mean the same when translated. I translated method to متد and function to تابع. What do you think?

[2019-03-26 12:15] mohsenkhanpour commented on #41
@sorousht 	من در مورد نمونه کدها حرف نمی‌زنم. در مورد توضیحی که درباره کدها است حرف می‌زنم.
برای مثال:
We call `ReactDOM.render()` with the `<Welcome name="Sara" />` element.

در اینجا ترجمه به المنت غلط است زیرا به یک variable جاوااسکریپت اشاره می‌کند

ممنون بابت دعوت عضو شدم ولی اکثر صحبت‌ها به زبان انگلیسی است. در ضمن Slack به من ای-میل زده بود که اکانت من رو چون توی ایران هست بسته ولی عجیب بود

[2019-03-26 12:40] sorousht commented on #41
<p dir="rtl">
@mohsenkhanpour آها، متوجه شدم. اتفاقا به نظرم اینجا دقیقا منظورش المنت هست. بنظرم ترجمه‌ این می‌شود:
</p>
<p dir="rtl">
ما تابع <code>ReactDOM.render()</code> را با المنت <code>...</code> فراخوانی می‌کنیم.
</p>

[2019-03-26 12:47] sorousht commented on #41
Yeah! They are so close literally. here is my suggestion:

higher-order ---> مرتبه بالایی
top-level ---> سطح بالایی
function ---> تابع
method ---> متد

[2019-03-26 12:49] mohsenkhanpour commented on #41
@sorousht  ممنون از راهنماییت. هر وقت فرصت کردی لطفا این چند کلمه جدید رو هم به [لغتنامه](https://github.com/reactjs/fa.reactjs.org/blob/master/TRANSLATION.md) اضافه کن

[2019-03-27 11:29] sJJdGG commented on #41
<p dir='rtl' align='right'>
@mohsenkhanpour @sorousht
همونطوری که سروش گفت در مورد المنت صحبت کردیم. منم نظرم رو خود المنت بود. چون حقیقتش اینه که ریکت فقط یک نرم افزار ساده کامپیوتری یا حتی یک فریم‌ورک ساده نیست و فراتر از ایناست و میشه به خودش به عنوان یک [ران‌تایم برای رابط کاربری](https://overreacted.io/react-as-a-ui-runtime) که مدل برنامه‌نویسی خاص خودش رو داره و همراه این مدل مفاهیم جدیدی به

[2019-03-27 15:14] mohsenkhanpour commented on #41
@sJJdGG ممنون بابت توضیحاتی که دادی. اینکه بسیاری از کلمات تخصصی با نگه داشتن شکل اصلی خود وارد زبان‌های دیگه می‌شوند و استفاده می‌شوند کاملا مشهوده.
فقط اینکه چون توی لغتنامه نبود و متغیری هم به اسم `element` وجود داشت کمی گمراهم شدم.

P.S.: I submitted a [PR](https://github.com/reactjs/fa.reactjs.org/pull/42) adding `element` and `scope` to the glossary.

[2019-03-27 16:17] mahdinba97 commented on #41
رو هم نمیشه ترجمه کرد به ویژگی و صفت؟ attribute و property الان در این صورت مثلا
من در این قسمت که ترجمه کردم این دو کلمه رو به این شکل ترجمه کردم. اگر همین مشکل پیش میاد در کامیت بعدی برشون گردونم؟

[2019-03-27 18:49] sorousht commented on #41
<p dir="rtl">
@mahdinba97 برای این دو کلمه من معادل‌های زیر رو پیشنهاد می‌کنم که نسبتا رایج هست و می‌شه تقریبا گفت جا افتاده‌است:
</p>

property ---> ویژگی
attribute ---> خصوصیت

[2019-03-28 04:53] mahdinba97 commented on #41
در مورد لغات زیر چه نظری دارید؟ @sorousht
syntax --> نحو
syntactic sugar --> :) چون اصطلاحه نمیدونستم چطور معنا کنم فعلا معنی شده قند و نبات نحوی
ansestor --> اجداد ؟؟
epaque --> غیرشفاف
fetch --> واکشی
forward --> به معنی ارسال و غیره میشه ولی دقیقا معنای واژه رو نمیرسونه بنابرین فوروارد معنا کردم
reference --> مرحع
fragment --> فرگمنت
slice --> (قطعه قطعه سازی (برای آرایه‌ها
code splitting --> ب

[2019-03-29 15:20] sorousht commented on #41
<p dir="rtl">
@mahdinba97 عزیز، راستش بعضی از کلمه‌ها رو باید توی متن معنی کرد. اگر دیدیم معادل انتخاب شده هنوز جا نیافتاده است، عبارت انگلیسی رو هم روبروی آن توی پرانتز می نویسیم. اگر هم معادل مناسبی پیدا نشد از عین عبارت انگلیسی استفاده می کنیم.
</p>

syntax --> من قبلا معنی کرده بودم نگارش! شاید اشتباه باشه ولی نحو هم معنای آشنای مناسبی نیست بنظرم
syntactic sugar --> وقتی در ویکی‌پدیا خوندم فهم

[2019-03-29 15:22] sorousht commented on #41
<p dir="rtl">
@mahdinba97  اگر علاقه‌مند هستید برای بحث بیشتر عضو گروه اسلک ما بشوید، ایمیل خودتون رو برای من ارسال کنید.
</p>

[2019-03-29 18:58] Mvahedii commented on #1
Hi @sorousht !
I can't clone this project and i see this error : Could not read from remote repository.
Please make sure you have the correct access rights
and the repository exists.

[2019-03-30 06:07] sorousht commented on #1
Hi @Mvahedii
Have you tried cloning over HTTPS?
[code]

[2019-03-30 08:30] Mvahedii commented on #1
Thanks @sorousht ♥
but when i run "yarn dev" command Plugin gatsby-transformer-sharp returned an error.

[2019-03-30 08:44] sorousht commented on #1
@Mvahedii First, make sure you are using [Node.js v8.x LTS](https://nodejs.org/download/release/latest-v8.x/). If the error still exists, please give more details to figure out the problem.

[2019-03-30 08:58] Mvahedii commented on #1
@sorousht yeah, i'm using node.js v10 LTS. but i have below errors:
Error: Cannot find module '../build/Release/sharp.node'
TypeError: Cannot read property 'filter' of undefined
error UNHANDLED REJECTION
TypeError: Cannot read property 'filter' of undefined
error Command failed with exit code 1.

[2019-04-04 06:56] MortezaHeydari97 commented on #35
خیلی ممنونم از شما دوست عزیز و بزرگوار.
چطور میتونم از اخرین تغییرات و یا عوض شدن لینکی که بهم دادین با خبر بشم ؟

پیشنهاد میکنم اگر امکانش هست، لینک رو یه جایی قرار بدین که قابل دسترس تر
باشه، از نظر UX میگم.

On Sun, Mar 17, 2019 at 12:30 AM sJJdGG <notifications@github.com> wrote:

[2019-04-06 12:36] sorousht commented on #1
<p dir="rtl">
سلام @Mvahedii عزیز،
ببخشید که دیر پاسخ می‌دهم. اگر هنوز مشکل برطرف نشده است، همان طور که در README.md اشاره شده‌است، باید فقط از نسخه ۸ Node.js استفاده شود و نسخه ۱۰ هم حتی قبول نیست!
</p>

[2019-04-07 09:24] sorousht commented on #1
Hey @masoud-bahrami
Any update on "Tutorial" page?

[2019-04-07 09:27] sorousht commented on #1
Hey @Mhmdrza
Still interested in translating "Introducing JSX" page?

[2019-04-07 10:09] mohsenkhanpour commented on #1
@sorousht Thanks for the remainder. I submitted the page I have translated. Needless to say revisions will come in later PRs.

[2019-04-07 10:26] mohsenkhanpour commented on #1
@Mvahedii @sorousht I have no problem using latest LTS version of NodeJS (I am using 10.15.3).

This error means the module is not found in the desired place. This may happen for several reasons:
Your package may be corrupted.
You may have used different versions of `npm`, `yarn` or `node` to build the package and now you are accessing the package with a newer (different) version of `npm`, `yarn`

[2019-04-10 19:51] Mvahedii commented on #1
@mohsenkhanpour
Hi ! Tnx :) it worked

[2019-04-14 21:39] seven-deuce commented on #1
Hi guys,
Other than being a React developer, I studied English Translation in University. I like to help you here. But it seems the core pages are already  picked up.
Any suggestion?
Personally I like to work on hook's api, but I can do other pages as well.
By the way, I may need your help with committing the translations. I am not that experienced with github.
Cheers :)

[2019-04-15 08:25] sorousht commented on #1
Hi @seven-deuce
We are happy to have you onboard.
If you are interested in [Hooks API Reference](https://reactjs.org/docs/hooks-reference.html), then I assign it to you.
Please feel free to [file an issue](https://github.com/reactjs/fa.reactjs.org/issues/new) if you have any question about the workflow.

[2019-04-15 09:50] seven-deuce commented on #1
great. I will take that happily. First, I am going to read the instructions and familiarize myself with your standards...

[2019-04-16 06:38] novonimo commented on #1
Hey, I wanna Installation section, is it ok?

[2019-04-16 08:00] sorousht commented on #1
<p dir="rtl">
سلام @novonimo، به جمع ما خوش آمدید :)
<br />
پیشنهاد می‌کنم یک صفحه رو برای شروع انتخاب کنید و پس از اتمام کار، به سراغ بعدی بروید. اگر مایل هستید، اولین صفحه بخش "Installation" یعنی "Getting Started" را به شما واگذار کنم؟
</p>

[2019-04-16 12:21] novonimo commented on #1
سلام ،‌ممنون
بعله مشکلی نداره
برای شروع خوبه

[2019-04-16 12:22] novonimo commented on #1
سلام ،‌ممنون
بعله مشکلی نداره
برای شروع خوبه

[2019-04-16 12:48] novonimo commented on #1
@sorousht سلام

ممنونم از لطفتون
بعله مشکلی نداره ، از یک صفحه شروع میکنم و برای شروع هم صفحه ای که گفتید عالی هست

[2019-04-17 21:29] seven-deuce commented on #1
I need clarification on something, what is the minimum threshold for completion before getting the farsi docs launched?
For example, I can see Italian docs available and marked as 100% done, but looking into Hooks section I can see that they have not done the translation yet, just the titles are done.
Could we launch by translating everything up to  **Next Steps**?

[2019-04-18 00:11] sJJdGG commented on #1
@seven-deuce Translating the core pages get us there.

[2019-04-18 08:48] seven-deuce commented on #41
scope = حوزه
من از این معادل استفاده کردم و فکر می کنم معنا رو خوب انتقال دادم. باید از خود اسکوپ زمانی استفاده بشه که اشاره به اسکوپ متغیرها و توابع در جاوااسکریپت داشته باشه که من تا حالا باهاش روبرو نشدم

[2019-04-19 15:59] seven-deuce commented on #1
آقا مشق های شب ما رو هم یه نگاهی بکنید :))
من دفعه ی اول پول ریکوست دادم و مطمئن نیستم درست انجامش داده باشم.

[2019-04-20 17:07] sorousht opened #52 "Remove `fa` branch"
<p dir="rtl">
اوایل شروع کارمون، تصمیم گرفتیم که یک شاخه (fa) درست کنیم و دلیلش این بود:
<br />
<br />
۱. این الگو رو از تیم‌های دیگه برداشتیم
<br />
۲. فکر می‌کردیم که روند بررسی رو بهبود می‌دهد
<br />
۳. هنگامی که تغییرات بررسی و آماده انتشار شد با master ادغام کنیم.
<br />
<br />
اما تا اینجای کار مزیتی برای ما نداشته! شاید در آینده پس از اینکه انتشار داشتیم، شاخه pre-release یا یه چیزی شبیه او

[2019-04-20 18:59] seven-deuce commented on #52
برای منی که آشنایی زیادی با گیت هاب ندارم مسلما راحت تر می کنه که یک شاخه ی مستر باشه.

[2019-04-23 23:59] straxico commented on #1
سلام
صفحه ی  Test Utilities رو هم من مینویسم

[2019-04-24 05:25] sorousht commented on #1
<p dir="rtl">
سلام @straxico، خوشحالم که به جمع ما اضافه شدید. صفحه‌ای که خواستید به شما واگذار شد‌. هر سوالی یا موردی بود، ما منتظر شنیدنش هستیم‌ :)
</p>

[2019-04-24 15:25] J3brahimi commented on #1
سلام دوستان
Using the State Hook
با من

[2019-04-24 16:57] sorousht commented on #1
Hi @J3brahimi
Welcome :)
The requested page is assigned to you. Feel free to reach out to us if you have any question.

[2019-04-28 10:00] leonine90 commented on #1
Hi,
I want to translate ReactDOM page.

[2019-04-28 16:28] sorousht commented on #1
Hi @leonine90
Great pick! I assign the page to you :)

[2019-05-01 17:37] theiliad commented on #52
The `fa` branch definitely causes multiple issues.

If one person opens up a PR to the branch, any future PRs opened (while the existing PR is still open) will include the commits from the open PR

[2019-05-05 08:11] seven-deuce commented on #1
I can pick up ReactDOMServer, next.

[2019-05-05 08:40] sorousht commented on #1
@seven-deuce  Great! I assign it to you :)

[2019-05-07 09:53] RezaImany commented on #1
i want to work on " Add React to a Website " and "Create a New React App"

[2019-05-07 19:32] sorousht commented on #1
سلام @RezaImany
خوش آمدید به جمع ما. پیشنهاد من اینه که اپتدا صفحه "Add React to a Website" را انجام دهید و پس از اتمام آن سراغ بعدی بروید. پس من این صفحه رو به شما واگذار می‌کنم. اگر موردی بود حتما با ما در میان بگذارید.

[2019-05-07 20:58] x1smind commented on #1
DOM Elements

[2019-05-08 06:33] sorousht commented on #1
Hey @x1smind
It has been Assigned to you :)

[2019-05-08 07:44] seven-deuce commented on #1
assign me SyntheticEvent

[2019-05-08 08:01] sorousht commented on #1
@seven-deuce You are doing really great! I assign it to you. Please let us merge your last PR before submitting a new one.

[2019-05-08 18:08] x1smind commented on #52
In TRANSLATION.md, please correct the following:

Ansestor is misspelled. (Correct: Ancestor)
Ansestor is repeated for the plural form. (Correct: Ancestors)
Epaque is misspelled. (Correct: Opaque)

[2019-05-08 18:11] x1smind commented on #41
In TRANSLATION.md, please correct the following:

Ansestor is misspelled. (Correct: Ancestor)
Ansestor is repeated for the plural form. (Correct: Ancestors)
Epaque is misspelled. (Correct: Opaque)

[2019-05-10 12:32] nodehi78 commented on #1
Hi, Create a New React App

[2019-05-10 14:16] sorousht commented on #1
Hi @nodehi78
I assign it to you. Please feel free to file an issue if you had any question :)

[2019-05-11 06:13] sJJdGG commented on #52
LGTM

[2019-05-11 07:39] seven-deuce commented on #1
assign me Shallow Renderer

[2019-05-11 08:14] sorousht commented on #1
@seven-deuce Sure!

[2019-05-16 18:34] sorousht commented on #52
تصمیم بر این شد که شاخه `fa` حذف و از ‍‍`master` استفاده شود.

[2019-05-16 18:35] #52 closed

[2019-05-19 21:03] hamid commented on #1
Hi ...
Assign me **Accessibility**  in _Advanced Guides_

[2019-05-20 15:48] sorousht commented on #1
Sure!

[2019-05-20 19:24] MehdiPRG commented on #1
hi, could you assign me The subject Error Boundaries in Advance Guides?
and I have to translate it from the documentation?
and can I merge it with some concepts to make it more understandable?

[2019-05-20 19:49] sorousht commented on #1
Hi @MehdiPRG
Thanks for your interest in translating React documents into Persian. I will assign "Error Boundries" to you.
You can find the file in the following path:
[/content/docs/error-boundaries.md](https://github.com/reactjs/fa.reactjs.org/blob/master/content/docs/error-boundaries.md)
We are not allowed to add/remove to the original. The content should be exactly the same among all languages

[2019-05-20 20:35] mehdifilban commented on #1
Hi, I'm @MehdiPRG please change that subject to this account sorry about it. :)

[2019-05-22 12:08] seven-deuce commented on #1
next, assign me Glossary please

[2019-05-23 17:46] sorousht commented on #1
Great! You are doing really good @seven-deuce.

[2019-05-26 19:07] sorousht commented on #1
خوشحالم اعلام کنم که @seven-deuce به جمع نگاه‌دارندگان پیوست. باعث افتخار ماست که فردی با توانایی‌ و تجربه بسیار خوب در ترجمه در کنار ماست.

[2019-05-26 19:25] sorousht commented on #1
متاسفانه به خاطر گرفتاری‌های اخیر امکان ادامه کار روی صفحه API/React.Component را تا 10 June نخواهم داشت. اگر کسی مایل به ادامه این صفحه در این مدت بود به من اطلاع دهد. ممنونم.

[2019-06-03 06:26] sJJdGG commented on #52
Branch has been deleted!

[2019-06-12 21:38] RezaImany commented on #1
سلام @sorousht
لطفا به اکانت گیت هاب من دسترسی بدین تا ترجمه انجام شده رو بفرستم

[2019-07-29 18:59] pooya-alen1990 commented on #1
Hello guys,
I want to contribute; Which page is better to start?
Thanks

[2019-07-31 11:32] seven-deuce commented on #1
Hi @pooya-alen1990 ,
Welcome abroad.
We are trying to finish the core pages first so we can go live.
I can assign you  JS Environment Requirements if you like

[2019-08-04 11:05] pooya-alen1990 commented on #1
Ok, that's good ;)

[2019-08-05 14:02] seven-deuce commented on #1
excellent, the page is assign to you now

[2019-08-12 09:59] pooya-alen1990 commented on #1
شیوه‌نامۀ «ویراستاران» برای نگارش در وب که لینک آن در «شیوه نگارش» آمده برای کیبوردهای قدیمی و غیر استاندارد صدق می کند و من اون رو ادیت کردم و در [این ]( http://vrgl.ir/HsLJl )لینک گذاشتم، بهتره این صفحه رو دوستانی که می‌خواهند مشارکت انجام دهند رعایت کنند.
ممنون

[2019-08-23 22:59] akoushke commented on #1
I'm also available too. Assign me a page por favor!

[2019-08-24 07:10] seven-deuce commented on #1
@akoushke
welcome abroad!
the only page left in core pages was Test Renderer which I assigned to you.

[2019-09-02 11:12] zahrajoulaei commented on #1
I made "Introducing JSX" page free since it was not any news from translator after 6 months(Feb).
feel free to go for that

[2019-09-21 08:22] pouyajabbarisani commented on #1
Hi there, can I translate code-splitting page?
مرسی

[2019-09-22 16:20] zahrajoulaei commented on #1
For sure, I just assigned it to you. 🎉

[2019-10-04 13:46] sorousht opened #99 "Introducing JSX"
Translate [Introducing JSX ](https://github.com/reactjs/fa.reactjs.org/blob/master/content/docs/introducing-jsx.md)into Persian

[2019-10-04 13:47] sorousht opened #100 "Handling Events"
Translate [Handling Events](https://github.com/reactjs/fa.reactjs.org/blob/master/content/docs/handling-events.md) into Persian.

[2019-10-04 13:49] sorousht opened #101 "Lifting State Up"
Translate [Lifting State](https://github.com/reactjs/fa.reactjs.org/blob/master/content/docs/lifting-state-up.md) Up into Persian.

[2019-10-04 13:50] sorousht opened #102 "Composition vs Inheritance"
Translate [Composition vs Inheritance](https://github.com/reactjs/fa.reactjs.org/blob/master/content/docs/composition-vs-inheritance.md) into Persian.

[2019-10-04 13:51] sorousht opened #103 "Thinking in React"
Translate [Thinking in React](https://github.com/reactjs/fa.reactjs.org/blob/master/content/docs/thinking-in-react.md) into Persian.

[2019-10-04 13:54] sorousht opened #104 "React.Component"
Translate [React.Component](https://github.com/reactjs/fa.reactjs.org/blob/master/content/docs/reference-react-component.md) into Persian.

[2019-10-04 13:55] sorousht opened #105 "ReactDOM"
Translate [ReactDOM](https://github.com/reactjs/fa.reactjs.org/blob/master/content/docs/reference-react-dom.md) into Persian.

[2019-10-04 13:57] sorousht opened #106 "Test Utilities"
Translate [Test Utilities](https://github.com/reactjs/fa.reactjs.org/blob/master/content/docs/addons-test-utils.md) into Persian.

[2019-10-04 13:58] sorousht opened #107 "Test Renderer"
Translate [Test Renderer](https://github.com/reactjs/fa.reactjs.org/blob/master/content/docs/reference-test-renderer.md) into Persian.

[2019-10-04 13:59] sorousht opened #108 "Glossary"
Translate [Glossary](https://github.com/reactjs/fa.reactjs.org/blob/master/content/docs/reference-glossary.md) into Persian.

[2019-10-06 17:45] sorousht commented on #1
![image](https://user-images.githubusercontent.com/3072018/66273005-3da95700-e870-11e9-85b0-fcfc8949b8ba.png)

<p dir="rtl">
سلام به همگی
اگر می خواهید در Hacktoberseft شرکت کنید، چند تا از صفحه‌ها هستند که هنوز ترجمه نشده‌اند و می‌تونه شروع خوبی برای این چالش باشه‌ :)
</p>

[لیست صفحه‌ها](https://github.com/reactjs/fa.reactjs.org/issues?q=is%3Aissue+is%3Aopen+label%3AHacktoberfest)
[هکتوبرفست چیس

[2019-10-06 17:48] pouyajabbarisani commented on #1
صفحاتی هستند که ترجمه شدن ولی منتشر نمیشن. چرا؟

[2019-10-06 18:15] sorousht commented on #1
<p>
سلام @pouyajabbarisani
اگر منظور شما #96  هست، باید بررسی و تایید بشه و بعدش منتشر می‌شه. خودم امشب بررسی می ‌کنم :)
</p>

[2019-10-06 18:18] pouyajabbarisani commented on #1
@sorousht  مرسی. واقعیتش من خودم خیلی مشتاق بودم که صفحات زیادی رو ترجمه کنم ولی وقتی دیدم ریویوی یه صفحه چند هفته طول میکشه یکم اشتیاقم رو از دست دادم...
اگه سرعت بررسی ها بیشتر بشه من خودم خیلی بیشتر مشارکت می کنم.

[2019-10-06 21:15] sorousht commented on #1
<p dir="rtl">
@pouyajabbarisani بررسی #96 انجام شد. ببخشید که طولانی شد.
</p>

[2019-10-07 07:54] black-sheep777 commented on #1
Hi there! Can I work on "Handling Events"?

[2019-10-07 12:12] sorousht commented on #1
Hi @black-sheep777,
Sure, I assign it to you.

[2019-10-08 07:17] groprog commented on #1
Hi , can I translate this page : "Introducing JSX"?

[2019-10-08 20:08] angellandros commented on #100
I'm currently working on it.

[2019-10-08 20:29] sorousht commented on #1
Hi @groprog
Of course, let me know if you have any question :)

[2019-10-08 20:30] sorousht commented on #99
Assigned to @groprog

[2019-10-08 20:51] sorousht commented on #102
@sorousht is working on this issue

[2019-10-09 10:10] FazelMahdi commented on #1
i'd be appritiated to work on Rules of Hooks

[2019-10-09 10:11] FazelMahdi commented on #1
i'd be appreciated to work on Rules of Hooks

[2019-10-09 13:49] groprog commented on #99
@sorousht I forget translate this line "With that out of the way, let’s get started!" .
Now what I do ? make a PR again or ...

[2019-10-09 20:54] sorousht commented on #1
Hi @FazelMahdi
You are free to pick every available page, but I would suggest picking one of our core pages. Then you not only help us reach the first milestone but also take part in Hacktoberfest!

If you are still interested in translating Rules of Hooks, then leave a comment here to be assigned to you.

[2019-10-09 21:08] sorousht commented on #1
Hi @black-sheep777

We have received a PR #111for the page which is already assigned to you. If you have not started yet or you are interested in picking another page, you can give this chance to someone else to work on that. Otherwise, the page is yours. Then feel free if the answer is not yes ;-)

[2019-10-14 13:09] papuruth commented on #104
May I?

[2019-10-15 11:54] pouyajabbarisani commented on #1
I'm here to take my second page! **Context**
Also, I've translated the code-splitting page and it's have been merged with the master branch but it hasn't checkmark in this page!

[2019-10-20 10:51] DamavandiKamali commented on #1
Hello
Please assign to me
"Thinking in React"
Thanks

[2019-11-12 06:54] FazelMahdi commented on #1
it's ok.
how about this? Test Utilities in API Reference

[2019-11-12 06:55] FazelMahdi commented on #1
it's ok.
how about this? Test Utilities in API Reference

[2019-11-15 22:12] Mrezagolbaba commented on #1
I want to work on React.Component :)

[2019-12-06 16:00] Abolfazl2647 commented on #1
Basics - Lifting State Up

[2019-12-10 16:48] pooyarm commented on #1
seems that nobody asked to work on `Using the Effect Hook`, I'd like to start working on it

[2019-12-15 17:57] seven-deuce commented on #1
@pouyajabbarisani
Thank you for supporting this project.
On your last pull request, there were some issues and edits that must be resolved first.
You have done some, but most of them are not solved but you marked them resolved.
Would you mind to resolve them in your translation? so we can move ahead and submit your translation to final version

[2019-12-15 18:03] seven-deuce commented on #1
@Abolfazl2647 The page is assigned to you. Looking forward to your pull request!

[2019-12-15 18:04] seven-deuce commented on #1
@Mrezagolbaba The page is assigned to you. Looking forward to your pull request!

[2019-12-15 18:05] seven-deuce commented on #1
@FazelMahdi  The page is assigned to you. Looking forward to your pull request!

[2019-12-15 18:09] seven-deuce commented on #1
@pooyarm I can assign that page you if you like, however I like to ask you to pick up one of core pages, because we can go live if we can finish the core pages fast.
I suggest these pages to you:  Thinking in React  or ReactDOM

[2019-12-15 18:36] sorousht commented on #100
Hi @angellandros
Sorry for the late update. Since @black-sheep777 did not submit a PR for this one, please continue your work on this page.

[2019-12-26 08:35] rfnmt commented on #1
Hi there. Is "Thinking in React" available for translation?!

[2019-12-26 13:20] seven-deuce commented on #1
@rfnmt
Nope, it is available. let me know if you want it to be assigned to you

[2019-12-26 13:30] rfnmt commented on #1
@seven-deuce
Yes, I'm in. Please assign it to me. Thank you

[2019-12-26 13:40] seven-deuce commented on #1
@rfnmt
It is assigned to you! Wish you the best!

[2020-01-02 23:06] E-RROR commented on #1
Hello Guys ... Please Assign Me To Components or any Part's That Need Translation ; )

[2020-01-04 19:13] Abolfazl2647 commented on #1
i really appreciated

[2020-01-06 13:24] Abolfazl2647 opened #123 "Can't push"
hi, i was assigned to translate the page of Lifting State Up.
and i did it.

but first i follow the installation guid as below:
# 1. یک کپی از مخزن کد بگیرید
git clone https://github.com/reactjs/fa.reactjs.org.git

# 2. به شاخه اصلی پروژه بروید
cd fa.reactjs.org

# 3. وابستگی‌های npm پروژه را نصب کنید
yarn

finally i run the project and create my own branch and i have 3 commits since i start the t

[2020-01-06 18:22] #123 closed

[2020-01-06 19:22] Abolfazl2647 commented on #1
give me ReactDOM in API Reference please.

[2020-01-11 18:00] sorousht commented on #103
Assigned to @rfnmt #122

[2020-01-11 18:01] sorousht commented on #101
Assigned to @Abolfazl2647 #125

[2020-01-11 18:10] sorousht commented on #1
Hi @E-RROR

Sorry for the late response. I just assigned you [reference-test-renderer.md](https://deploy-preview-122--fa-reactjs.netlify.com/docs/test-renderer.html) which is one of the few remaining pages.
If you have any questions, feel free to ask :)

[2020-01-11 18:13] sorousht commented on #1
Hi @Abolfazl2647

First, let me say thanks for your previous translation. I just assigned you [reference-react-dom.md](https://reactjs.org/docs/react-dom.html) ✌️

[2020-01-14 20:25] #101 closed

[2020-01-15 07:56] Abolfazl2647 commented on #1
I was honored. you're welcome.

[2020-01-18 08:06] Abolfazl2647 commented on #1
Please Give me Using Effect HooK

[2020-01-18 11:57] BaseMax commented on #105
Hello,

We are working on it.
https://github.com/MaxFork/fa.reactjs.org/blob/master/content/docs/reference-react-dom.md

Best,
Max

[2020-01-18 12:53] sorousht commented on #1
Hey @Abolfazl2647!
It's assigned to you. I'll review #126 soon 🍺

[2020-01-18 13:21] sorousht commented on #105
Assigned to @Abolfazl2647

[2020-01-19 15:53] #103 closed

[2020-01-19 22:04] #105 closed

[2020-01-27 18:53] Abolfazl2647 commented on #1
Please Give me "Building Your Own Hooks" or "Rules of Hooks" or both, cause i ask you about the other one anyway.
I’d prefer to have "Building Your Own Hooks" first.

[2020-01-27 20:47] sorousht commented on #1
Hi @Abolfazl2647
You are doing really great! I'll assign "Building Your Own Hooks" to you ✌️

[2020-02-04 22:26] Abolfazl2647 commented on #1
Give ME -- >
Rules of Hooks

[2020-02-06 10:34] sorousht commented on #1
I just assigned it to you :rocket:

[2020-02-06 19:24] sorousht opened #132 "Translate Rules of Hooks"
Translate [hooks-rules.md](https://github.com/reactjs/fa.reactjs.org/blob/master/content/docs/hooks-rules.md)

[2020-02-06 19:24] sorousht commented on #132
Assigned to @Abolfazl2647

[2020-02-07 15:18] Abolfazl2647 commented on #1
Please Give me Glossary.

[2020-02-07 17:35] hajarsadeghi commented on #1
Hi, I'm new to the community and I want to contribute.
If it's available, please assign me **Context** which is categorized under the Advanced Guides.

[2020-02-08 10:40] sorousht commented on #1
Hey @Abolfazl2647
You can start working on Glossary. Thanks for your contribution :)

[2020-02-08 10:43] sorousht commented on #1
Hi @hajarsadeghi
We are happy to have you here. I just assigned that to you. If you have any questions, feel free to ask here or file a new issue :)

[2020-02-09 21:04] Abolfazl2647 commented on #132
in testi bud dg ?!
:-)

[2020-02-09 21:16] sorousht commented on #132
Yes, so I close #132

[2020-02-09 21:17] #132 closed

[2020-03-01 16:10] hossein-2 commented on #1
Hi,
I wanted to start with a small page if i may. Therefore assign me something for start.

Thank you.

[2020-03-01 21:55] sorousht commented on #1
Hi @hossein-2

Welcome abroad! I just assigned [Portals](https://github.com/reactjs/fa.reactjs.org/blob/master/content/docs/portals.md) to you. Feel free to ask any questions.

[2020-03-02 15:49] mohammdfp commented on #1
i want to translate these page

Introducing JSX

[2020-03-02 15:51] mohammdfp commented on #1
i want to translate this page

Introducing JSX

[2020-03-12 23:49] #102 closed

[2020-03-15 21:04] Abolfazl2647 commented on #99
@sorousht What can we do about this ?

[2020-03-15 21:14] #108 closed

[2020-03-16 20:17] black-sheep777 commented on #1
@sorousht Sorry for the delayed response! Well I guess If someone else has done it, it would be absurd to do it again; Right now for the situation caused by Corona I have plenty of free time & I would be glad to help you guys out, so suggest me any left topic & I would be glad to translate that

[2020-03-17 19:55] #99 closed

[2020-03-17 20:01] rezvani2647 commented on #1
welcome @mohammdfp
The page (Introducing JSX) is assigned to you. Looking forward to your pull request!

[2020-03-17 20:07] #100 closed

[2020-03-17 20:11] rezvani2647 commented on #1
welcome back @black-sheep777 .
i just assigned the Handling Events to you. and i'm looking forward to your pull request.

[2020-03-29 01:37] FarzamSeyedhashem commented on #1
I want to work on Typechecking With PropTypes page

[2020-03-30 17:22] rezvani2647 commented on #1
Welcome @FarzamSeyedhashem
the Page Assigned to you.
feel free to ask any question :-)

[2020-04-01 14:39] negarelixir commented on #1
Hey there,
I'd like to translate part "JSX in Depth" if it's possible.
thank you.

https://reactjs.org/docs/jsx-in-depth.html

[2020-04-02 22:03] rezvani2647 commented on #1
Welcome!
I just assigned [JSX in Depth](https://github.com/reactjs/fa.reactjs.org/blob/master/content/docs/jsx-in-depth.md) to you. Feel free to ask any questions.

[2020-04-05 19:55] negarelixir commented on #1
Hi
unfortunately I have a problem with the installation instruction listed on this page:
(https://github.com/reactjs/fa.reactjs.org)

in step 3, "yarn dev" command throws error: error Command failed with exit code 1.
info Visit https://yarnpkg.com/en/docs/cli/run for documentation about this command.

 I've tested instruction on mac, windows server 2012 r2, windows 10 and linux!

plz help me to fi

[2020-04-06 20:04] Abolfazl2647 commented on #1
Please Try this instruction (you can skip to number 6):
1- hit on the fork button right up corner of the page.
2- go to your repo and find fa.reactjs.org
3- copy the repo link and clone the repo on your system
4- open up your terminal (cmd) and go to the repo location and if you install yarn before type yarn and hit enter
5- after yarn finished installation type ` yarn dev `
6- if you have any pro

[2020-04-10 13:57] negarelixir commented on #1
Hello again
I followed the instruction but received the 2 previous errors by using command "yarn dev":
//-----------------------------------------------------------------
1-
//-----------------------------------------------------------------
ERROR #85923  GRAPHQL

There was an error in your GraphQL query:

Cannot query field "allExampleCode" on type "Query".

If you don't expect "allExampleCode" t

[2020-04-11 11:46] sorousht commented on #1
<p dir="rtl">
سلام @negarelixir
</p>
<p dir="rtl">
حدس می زنم مشکل شما با گرفتن دوباره آخرین تغییرات از master برطرف بشه.
</p>
<p dir="rtl">
من تمام مراحل دریافت و اجرای پروژه را روی لینوکس اجرا کردم و مشکلی نداشتم. روی ویندوز مشکل داشتم ولی هنوز راه حلی برای اون پیدا نکردم. به محض این که راهی پیدا کنم، به شما اطلاع خواهم داد.
</p>
<p dir="rtl">
از طرف دیگه چون کار ما ترجمه صفحات هست و فقط با فایل

[2020-04-11 14:28] negarelixir commented on #1
از پیگیری شما سپاسگزارم

 من هم درحال تلاش برای رفع مشکل هستم و امیدوارم راه حل مناسبی در ویندوز یا مک پیدا کنم.

با سپاس فراوان

[2020-04-15 16:58] riiccardo commented on #1
Hello I want to Translate `Styling and CSS`

if you have me :')

انشاالله که حال تک تکتون توی این روزای عجیب خوب باشه ❤️ 🌷
و تشکر بابت ترجمه ها

[2020-04-20 19:52] sorousht commented on #1
<p dir="rtl">
@sadeghbarati سلام، امیدوارم حال شما هم خوب باشه
</p>
<p dir="rtl">
صفحه‌ای که خواسته بودید به شما واگذار شد. اگر سوالی داشتید حتما از ما بپرسید.
</p>
<p dir="rtl">
موفق باشید
</p>

[2020-06-10 19:28] amir28 opened #148 "درخواست همکاری"
سلام، به تمام مشارکت کنندگان این پروژه، خیلی دوست دارم توی این پروژه شرکت داشته باشم ولی به دلیل کمی مشکل مالی نمی‌تونم کاملا رایگان انجامش بدم. میخواستم بدونم اجازه می‌دهین به ازای حداقل فلان قدر کاراکتر یک تبلیغات کوچیک در همان مطلب قرار بگیره.
من می‌تونم خیلی توی پروژه مشارکت داشته باشم.
ممنون

[2020-06-11 06:08] hosseinAMD commented on #1
Hi.
I want to translate `Hooks FAQ` please!
Thanks

[2020-06-11 13:11] sorousht commented on #148
سلام @amir28 عزیز!

ما قبلا تلاش کردیم که برای قدردانی از تلاش مشارکت کنندگان این پروژه، هدیه‌ای کوچک درنظر بگیریم. اما متاسفانه میسر نشد. تنها چیزی که مشوق ما در ترجمه اسناد ری‌اکت هست،

[2020-06-11 13:19] sorousht commented on #148
سلام @amir28 عزیز،

متاسفانه در حال حاضر ما اجازه این کار رو نداریم و وظیفه ما ترجمه اسناد هست. به این معنی که نباید چیزی به آن اضافه یا از آن کم شود.

از طرف دیگر، بسیار دوست داشتیم که برای مشارکت کنندگان هدیه‌ای در نظر گرفته بشود که میسر نشد.

در حال حاضر تنها مشوق ما در ترجمه این اسناد به زبان فارسی، معرفی ری‌اکت به فارسی زبان ها و شاید کمکی کوچک به دوستانی که در شروع کار یادگیری با زبان فارسی

[2020-06-11 13:20] #148 closed

[2020-06-13 08:20] hosseinAMD commented on #1
So, I've translated forwarding refs doc page and examples comments completely. First time i tried to run the project   but same as others on windows it failed and my first try to pull failed by tests to.
Second time i removed project folder, cloned project again and without doing anything else, just copied translated lines!
And i pushed it again and i still see `All checks have failed` in my pull

[2020-06-19 10:16] Pedroxam commented on #1
Hi,
I want to translate "Fragments" page. how can start ?
Thanks.

![image](https://user-images.githubusercontent.com/6213778/85122394-2314e380-b22f-11ea-990d-6149dfbabf9e.png)

[2020-06-19 11:41] Abolfazl2647 commented on #1
hi first of all thank you for your time.
please check out this [LINK](https://github.com/reactjs/fa.reactjs.org/blob/master/STYLE-GUIDE.md) you only need to translate .MD files base on the rules in mentioned link.

[2020-06-20 06:52] hosseinAMD commented on #1
@Abolfazl2647

I changed .JS files to the original and failed again
I removed project, forked again and only changed .MD files but it failed again
If you check the logs, it fails building css and style files!
The translation took 1 hour and i'm stuck in merging for 1 week!!!

[2020-06-20 15:51] sorousht commented on #1
Hi @Pedroxam

I just assigned page `Fragments` to you. Feel reach out to us if you have any questions :)

[2020-06-20 15:53] sorousht commented on #1
Hey @hosseinAMD!
Sorry for the late response, I'm investigating your problem. I'll get back to you soon :)

[2020-06-20 21:09] Pedroxam commented on #1
Thanks man.

[2020-06-24 06:59] hosseinAMD commented on #1
Hi again... if everything is ok i want to translate `APIs and AJAX` please!

[2020-06-24 13:59] sorousht commented on #1
Hi @hosseinAMD! I just reviewed your open PR. That was great!
I would suggest you wrap up that page first and then, you can take `APIs and AJAX`  :)

[2020-06-25 10:12] hosseinAMD commented on #1
@sorousht Can i translate it now?

[2020-06-25 10:17] sorousht commented on #1
@hosseinAMD sure! It's already assigned to you :-)

[2020-06-25 21:17] amir28 commented on #1
سلام به همه‌ی مترجمان عزیز اگه امکانش باشه قسمت آموزش که البته قسمت اعظمش رو ترجمه کردم رو به من بسپارید. می‌دونم که باید قبلش اطلاع می‌دادم ولی در هنگام ترجمه برنامه دقیقی برای مکان محتوای ترجمه شده مدنظر نداشتم. قسمت‌های کمی هم که به نظرم گیج کننده بود کمی تغییر دادم. این اولین کار ترجمه‌ی منه ولی سعی کردم به نحوه احسند انجامش بدم. ممنون

[2020-06-26 13:25] sorousht commented on #1
<p dir="rtl">
سلام @amir28 جان!
</p>
<p dir="rtl">
منظور شما رو از قسمت "آموزش" متوجه نشدم. کدام صفحه در لیست بالا مد نظر شما هست؟
</p>

[2020-06-26 18:29] amir28 commented on #1
منظورم صفحه‌ی tutorial بود
درسته که این صفحه به کسی واگذار شده ولی تا آنجا که باخبر ام(شاید هم اشتباه می‌کنم) تنها قسمت کمی از این صفحه ترجمه شده

[2020-06-27 07:54] sorousht commented on #1
<p dir="rtl">
درسته! پس من این صفحه رو به شما واگذار می‌کنم. فقط مد نظر داشته باشید از آن‌جایی که کار ما فقط ترجمه هست، تمام تلاشمون رو می‌کنیم که به اصل متن وفادار باشیم. به این معنی که چیزی به آن اضافه یا از آن کم نشود.
</p>
<p dir="rtl">
اگر سوالی یا کمکی نیاز بود من در خدمتم :)
</p>

[2020-06-27 08:10] hosseinAMD commented on #1
Thank you again @sorousht
According to length of `Babel, JSX, and Build Steps` , it's too short. to increase the speed of updating documentation you can assign `Passing Functions to Components` to me too.
Anyway making the decision is up to you. I can translate `Babel, JSX, and Build Steps` first and wait to merge then go fo `Passing Functions to Components` or translate both in same time.
Thanks

[2020-06-27 08:26] sorousht commented on #1
@hosseinAMD Thank you for your interest! We have some pages with higher priorities like `React.Component`, `Test Utilities`, and `Test Renderer`. By translating them, we reach the first milestone, which is translating the core pages. Would you like to take one of those pages?

[2020-06-27 08:41] hosseinAMD commented on #1
@sorousht
It's OK! I didn't requested them because they're assigned to others.
I can start with `React.Component` !

[2020-06-27 08:42] sorousht commented on #1
@hosseinAMD Perfect! It's yours :)

[2020-06-27 11:55] Pedroxam commented on #1
دوستان من این قسمت رو متوجه نشدم  که منظور از مخزن اصلی کجاست

![image](https://user-images.githubusercontent.com/6213778/85921643-3276db00-b886-11ea-80e2-0030fee02cce.png)

[2020-06-27 12:11] sorousht commented on #1
در این خط دستورات زیر توضیح داده شده و منظور همین مخزن کد هست. فقط کافیه دستورات رو مرحله به مرحله اجرا کنید.

[2020-06-27 12:33] Pedroxam commented on #1
آقا ممنون فهمیدم.

[2020-06-30 08:18] hosseinAMD commented on #1
@sorousht
Let's continue with Core Pages and first mileston!

`Test Utilities` maybe?

[2020-06-30 11:09] sorousht commented on #1
@hosseinAMD It's perfect! I assign it to you :)

[2020-07-03 06:22] amirmahdi-nsh opened #157 "مشکل در راه اندازی لوکال سایت"
سلام، بعد از فورک کردن پروژه و دستورات زیر به ارور بر می‌خورم.

[code]
که با `npm update --depth 5 @babel/compat-data` درست شد
گفتم در جریان باشید :)

[2020-07-05 08:38] hosseinAMD commented on #1
Dear @sorousht

I can start `Test Renderer` while you are reviewing my last PRs.
Let me know if i can start translating!

Thanks!

[2020-07-05 16:08] sorousht commented on #1
@hosseinAMD Sure, I just assigned it to you :)

[2020-08-01 17:05] Mrezagolbaba commented on #1
dear @sorousht I want to start by Higher-Order Components for translation. could you please assign to me

[2020-08-04 06:39] ariannargesi commented on #1
Give me "Static Type Checking" page and see how I will rocking it

[2020-08-04 20:26] sorousht commented on #1
Hi @Mrezagolbaba!
Awesome! It's assigned to you. If you have any questions, feel free to ask :-)

[2020-08-04 20:29] sorousht commented on #1
Hey @ariannargesi!
I believe you'll rock it! Go ahead B)

[2020-08-08 04:21] Mrezagolbaba commented on #157
I have same error in local
![image](https://user-images.githubusercontent.com/9501814/89702231-4701c500-d954-11ea-9e2e-acd9d3477608.png)

[2020-08-09 09:36] sorousht commented on #157
<p dir="rtl">
@Mrezagolbaba مشکل برطرف شد؟
</p>

[2020-08-09 09:41] Mrezagolbaba commented on #157
No, its have error , when I run yarn dev @sorousht

[2020-08-09 10:29] sorousht commented on #157
<p dir="rtl">
لطفا دوباره این موارد رو بررسی کنید:
۱. آخرین تغییرات رو روی نسخه لوکال دارید
۲. ورژن node باید ۱۲ به بالا باشه
</p>
<p dir="rtl">
روی سیستم من که لینوکس هست مشکلی نیست و من متاسفانه ویندوز ندارم برای تست. اگر باز هم مساله برطرف نشد، به من اطلاع بدید که یه راهی پیدا کنم.
</p>

[2020-08-09 10:44] Mrezagolbaba commented on #157
من با مستر هم آپدیت کردم اما همچنان مشکل دارم
@sorousht

[2020-08-10 20:59] #107 closed

[2020-08-10 21:00] #104 closed

[2020-08-10 21:00] #106 closed

[2020-08-12 05:28] hosseinAMD commented on #1
@sorousht

OK I've been checking the first milestone checkpoints and saw 2 pages still needs translation.
So i guess we can continue with `Introducing JSX` !

Let me know when i can start translating :)

[2020-08-12 05:40] sorousht commented on #1
@hosseinAMD Awesome! You can start working on page `Introducing JSX`.

[2020-09-02 07:08] hosseinAMD commented on #1
@sorousht
Hi again ! :D
Can i translate `Handling Events` while you're re-reviewing my changes in active pull request?

Thanks!

[2020-09-02 10:42] sorousht commented on #1
Hi @hosseinAMD!

Your PR is already merged :tada: and Handling Events is assigned to you :)

[2020-09-11 18:40] najmieh commented on #1
سلام
من تمایل دارم بخش
Web Components
ترجمه کنم

[2020-09-12 07:14] sorousht commented on #1
<p dir="rtl">
سلام @najmieh
</p>
<p dir="rtl">این صفحه به شما واگذار شد. اگر سوالی بود حتما بپرسید.
</p>

[2020-09-13 16:16] najmieh commented on #1
من این صفحه و زیر شاخه هاشو ترجمه کنم؟
https://reactjs.org/docs/web-components.html
منظورم از زیر شاخه
API REFERENCE
و غیره هست

[2020-09-16 18:40] sorousht commented on #1
<p dir="rtl">
فقط همون صفحه که در سورس، مسیر فایل آن می شود:
</p>

content/docs/web-components.md

[2020-09-29 05:07] itours-company commented on #1
#1Hooks FAQ

[2020-10-04 10:33] black-sheep777 commented on #1
Hey there! Between these two topics "Handling Events" and "refs and the dom", which one can I take?

[2020-10-04 15:27] sorousht commented on #1
Hi @itours-company

Sorry for the late response. The requested page is yours. If you have any questions, don't hesitate to ask us :)

[2020-10-04 15:30] sorousht commented on #1
Hi @black-sheep777

I think you can start **Refs and the DOM**. The other page is already assigned to @hosseinAMD

[2020-10-11 07:04] hosseinAMD commented on #1
Dear @sorousht
According to the checklist the only remaining page is `Tutorial` to complete the first milestone.
Any improvements in that page? You can count on my assist on `Tutorial` if needed!

Anyway, I'm ready to translate another page!  Assign me if you have some important page on your mind please! Thanks

[2020-10-11 08:01] sorousht commented on #1
Dear @hosseinAMD
There is an open PR for `Tutorial` by @amirmahdi-nsh, which needs to be reviewed. So you can take one of the pages in `Advanced Guides` section. As always, thanks for your contribution :)

[2020-10-11 09:03] hosseinAMD commented on #1
@sorousht
So, Let's start with `React Without ES6`

[2020-10-16 07:22] alirezaseif28 commented on #1
hi
i am translate page `Uncontrolled Components`

[2020-10-17 10:44] sorousht commented on #1
@hosseinAMD It's assigned to you :+1:

[2020-10-29 17:44] behzad-dev commented on #1
Hey, I want to do "React Without JSX", is it alright?

[2020-10-30 21:02] sorousht commented on #1
Hi @behzad-dev
Great! It's assigned to you :) Feel free to reach out to us if you have any questions.

[2020-11-10 13:00] pooooriya commented on #1
Optimizing Performance
 I Want To Translate This Section
این بخش رو میتونم ترجمه کنم

[2020-11-10 20:44] pooooriya commented on #1
من میخوام صفحه جدید بلاگ که مربوط به نسخه جدید ری اکت میشه رو ترجمه کنم

[2020-11-11 07:54] sorousht commented on #1
<p dir="rtl">
سلام @pooooriya عزیز،‌ ترجمه‌ی بلاگ جزو اولویت‌های لیست شده در بالا نیست. بنابراین اگر منظور شما صفحه زیر هست، ‌من یک issue ثبت و به شما واگذار می‌کنم. اگر سوالی بود حتما با ما در میان بگذارید.
</p>
<a href="https://reactjs.org/blog/2020/10/20/react-v17.html">React v17.0</a>

[2020-11-11 07:57] sorousht opened #181 "Translate blog/2020/10/20/react-v17.html"

[2020-11-11 07:58] sorousht commented on #181
Assigned to @pooooriya

[2020-11-12 21:20] pooooriya commented on #181
مواردی که تو سایت اصلی ادیت شده و حذف شده نیاز به ترجمه داره؟
به طور مثال این جمله نیست
We're actively working on the new React features, but they're not a part of this release. The React 17 release is a key part of our strategy to roll them out without leaving anyone behind.

[2020-11-12 22:49] sorousht commented on #181
<p dir="rtl">
پروژه اخیرا به‌روز رسانی شد. پس نباید ناهماهنگی وجود داشته باشد. ولی جمله‌ای که شما نوشتید از فایل زیر هست:
</p>
<p>content/blog/2020-08-10-react-v17-rc.md</p>
<p dir="rtl">من فکر می‌کردم که منظور شما این یکی هست:!</p>
<p>content/blog/2020-10-20-react-v17.md</p>
<p dir="rtl">
انتخاب شما کدوم هست؟</p>

[2020-11-13 07:37] pooooriya commented on #181
مورد دوم تو فایلا نیست فقط
فقط RC
داره

[2020-11-13 07:54] sorousht commented on #181
باید دوباره pull کنید که تغییرات جدید رو بگیرید.

On Fri, 13 Nov 2020, 08:38 pooooriya, <notifications@github.com> wrote:

[2020-11-13 08:01] pooooriya commented on #181
بعد از ترجمه این پست پست قبلی مربوط به ریلیز کاندیدت هم به بنده تخصیص بدهید منتهی به علت مشغله کاری انشاله  تا هفته آبنده ارسال میکنم

[2020-11-14 14:41] sorousht commented on #181
مشکلی نیست، وقتی این صفحه تمام بشود، می توانید روی صفحه بعدی کار کنید. ولی اگر شما مشتاق هستید، صفحاتی1

[2020-11-14 14:43] sorousht commented on #181
مشکلی نیست، ولی اگر مشتاق هستید پیشنهاد من ترجمه صفحاتی هست که ماندگاری بیشتری نسبت به پست بلاگ دارند و در دستور کار ما هستند. از اینجا #1 می تونید لیست صفحات رو ببینید.

[2020-11-17 14:52] pooooriya commented on #181
i cant push to my branch i,v got 403 error i also checked my remote and login info

[2020-11-19 09:40] pooooriya commented on #181
با توجه به نبودن یک ریسورس خوب برای ری اکت 17 خواهشمندم این مورد که ریکوست ارسال کردم را زودتر بررسی بفرمایید تا توسعه دهندگان ایرانی راحت تر بتوانند از ویژگی های جدید ری اکت بهره ببرند

[2020-11-22 21:03] #181 closed

[2020-11-22 21:29] imantahriri commented on #1
@sorousht jan, I would like to work on "Uncontrolled Components". :)

[2020-12-02 08:07] hosseinAMD commented on #1
Ok! I guess next empty spot is `Integrating with Other Libraries` !
@sorousht  Would you please be kind and assign it to me? :D

[2020-12-19 11:06] rezvani2647 commented on #1
@hosseinAMD  I assigned that to you.
Let me know if you have any question.
:-)

[2020-12-20 07:03] rezvani2647 commented on #1
Dear @imantahriri  I assigned that to you.
Let me know if you have any question.
:-)

[2021-01-01 22:36] imantahriri commented on #1
The translation is ready, but I cannot push my branch. I tired both ssh and https methods. @rezvani2647

[2021-01-02 06:39] hosseinAMD commented on #1
@imantahriri
Dear Iman.
Would you mind please share the error you get?

[2021-01-02 16:02] imantahriri commented on #1
I have managed to fix it and created a PR now.

[2021-01-18 01:32] Ali-Parandeh commented on #1
I volunteer to translate the Strict Mode page in advanced guide.

[2021-01-24 16:58] sorousht commented on #1
@Ali-Parandeh Great! It's assigned to you 🚀

[2021-01-26 10:14] SebghatYusuf commented on #1
Hi there, I would like to take The CodeExample page in the Components and translate it

[2021-01-30 21:03] sorousht commented on #1
Hi @SebghatYusuf, It's assigned to you. If you have any questions, feel free to ask :)

[2021-03-07 19:34] SebghatYusuf commented on #1
after translating Components/CodeExample.js#195, now I would like to translate CodeEditor.js in the Components.

[2021-03-14 10:41] sorousht commented on #1
Hey @SebghatYusuf, translating the pages listed above would have grate impact on Farsi speaking community, so I encourage you to take one of the pages :)

It's up to you anyway and what you have requested is not listed, so you can go for it without being assigned to.

[2021-03-15 13:02] SebghatYusuf commented on #1
Thanks @sorousht, for letting me know but I think the CodeEditor exists on the pages listed above. Also, I want to mention that the CodeExample is completed and has been merged.

[2021-07-12 06:30] AlMoosavi opened #228 "کمک برای ترجمه"
به نام خدا
سلام
بنده هم می خواهم در ترجمه کمک کنم
فقط یک صفحه را به من معرفی کنید تاترجمه کنم
من میدونم که فایل های
.md
باید ترجمه بشوند
از داخل سایت گیت همین کار را انجام دادم ولی ظاهرا نتیجه ای در بر نداشته
باتشکر

[2021-07-12 06:52] AlMoosavi commented on #228
ممنون از شما
بررسی کردم
همه چیز ردیفه
ولی اساتید محترم اگر نکته ای هست
ممنون میشم راهنمایی بفرمائید

[2021-07-12 07:07] moosavii opened #229 "change font for fa.reactjs.org"
hi every body
the existing font is inappropriate for Persian (Farsi) language;
tell me how to change font for specific language?

[2021-07-17 14:13] sJJdGG commented on #229
سلام
قضیه فونت در دست پیگیریه
فعلنه که برنامه روی استفاده از ایران سنس هست
هماهنگی‌های مربوط به لایسنس در حال انجامه
یه سری هماهنگی با تیم اصلی در مورد نحوه اعمال فونت خواهیم داشت چون نمیتونیم فونت رو گیتهاب بخاطر لایسنس قرار بدیم
اگه پیشنهادی داری خوشحال میشم بشنوم

[2021-07-17 14:22] sJJdGG commented on #228
<div align="right" dir="right">
سلام
میتونی برای نمونه به پول‌ریکوئست‌هایی که بچه‌ها باز کردند نگاه کنی تا نحوه کلی انجام کار دستت بیاد
اگه نکته‌ای هم باشه توی بررسی پول ریکوئست گفته میشه
با تشکر
</div>

[2021-07-17 14:22] #228 closed

[2021-07-17 14:22] sJJdGG commented on #157
Closing due to inactivity

[2021-07-17 14:22] #157 closed

[2021-07-21 13:01] 01000110 commented on #1
Hi, I would like to translate the "Optimizing Performance" page.

[2021-07-25 15:46] merfankarami commented on #1
سلام من میخواستم قسمت
Render Props
رو ترجمه کنم.

[2021-07-25 17:00] sJJdGG commented on #1
<div dir="auto">
سلام @01000110 @merfankarami
اوکیه
</div>

[2021-07-27 09:44] jestemAria commented on #1
Hi, Thanks for you efforts,
i would love to take 'File Structure', if it is possible.

[2021-08-02 00:02] sJJdGG commented on #1
<div dir="auto">
@jestemAria
سلام مشکلی نیست تا جایی که اطلاع دارم کسی روش کاری نمی‌کنی
</div>

[2021-08-02 00:08] sJJdGG commented on #1
<div dir="rtl">
در مورد کل پروژه هم اولویت با PR هاست. اگر کسی میبینه که درخواست ترجمه داده ولی ثبت نشده به خاطر همینه
یعنی از نظر من همه میتونند هر صفحه‌ای که می‌بینند ترجمه نشده (حالا کسی درخواست کرده باشه یا نه) میتونند ترجمه‌شو انجام بدن
سعی هم میشه در کمترین زمان review انجام بگیره
با تشکر از همگی
</div>

[2021-09-01 08:10] Shahrzad-gh commented on #1
I would like to translate the "dont-call-proptypes" page.

[2021-09-03 17:08] MehdiSaraie commented on #1
Hi,  i'm gonna translate "Reconciliation", no problem?

[2021-12-02 17:41] rezvani2647 commented on #1
@Shahrzad-gh I assigned that to you. :-)

[2021-12-02 17:43] rezvani2647 commented on #1
I assigned it to you :)

[2022-03-17 05:33] Oct4Pie commented on #1
I am interested in
[code]
However, I am ok with any part assigned to me. Please assign a part to me.

[2022-04-17 06:22] mohammad-hassani commented on #1
@rezvani2647
Hi, if someone is not assigned to "Render Props" please assign me.

[2022-04-29 16:25] EsmaeilSaleh commented on #1
And The next is ` File Structure` in <ins> FAQ section</ins>. It will be due in half an hour.

[2022-04-29 18:19] EsmaeilSaleh commented on #1
Done.

[2022-04-29 18:19] EsmaeilSaleh commented on #1
Done.

[2022-04-30 01:44] EsmaeilSaleh commented on #1
Continuing with next page being['Virtual DOM and Internals'](https://fa.reactjs.org/docs/faq-internals.html) in FAQ section.

[2022-04-30 11:54] Canoir commented on #1
Optimizing Performance WIP. Please assign it to me.

[2022-06-22 14:29] EsmaeilSaleh opened #286 "Update node version in dependencies"
To be able to run yarn and install dependencies please add version 16 of node. It returns an error of node version.

[code]

[2022-06-25 16:17] EsmaeilSaleh commented on #1
Done and sent PR.

[2022-06-26 05:56] EsmaeilSaleh commented on #1
Can I translate  **Hooks at a Glance**? I know it's already been assigned to someone, but It has been for a long time and there is no activity here...
 @zahrajoulaei @sorousht @sJJdGG @Schabaani

[2022-06-30 09:02] zahrajoulaei commented on #1
Hi Esmaeil, i assigned it your name since you said it was there for a long time. thank you

[2022-07-30 17:02] Anisha95 commented on #123
how did you solve this ?

[2022-08-26 18:17] aryanhosseini commented on #1
Hi, I'm going to work on[ **Babel, JSX, and Build Steps**](https://fa.reactjs.org/docs/faq-build.html), Thanks.

[2022-08-26 21:49] aryanhosseini commented on #1
Hi @zahrajoulaei @sorousht @Schabaani, I'm going to work on[ **Babel, JSX, and Build Steps**](https://fa.reactjs.org/docs/faq-build.html) for now, Thanks.

[2022-09-12 07:00] mohammad-hosein-shahpouri commented on #1
Hi I want to work on "FAQ" => "File Structure"

[2022-09-18 07:28] arb195 commented on #1
سلام وقت بخیر من دوست دارم در ترجمه ریاکت کمک کنم کدام صفحه اولویت بالاتری دارد برای ترجمه؟

[2022-10-16 09:45] nafasebra commented on #229
درود بر شما
برای بحث لایسنس ها میتونید از فونت های رایگان و اوپن سورسی مثل وزیر یا شبنم استفاده کنید که شبیه ایران سنس هستند
البته صرفا این پیشنهاد بنده هست و ممکنه دوستان دیگه نظر بهتری داشته باشند

[2022-10-16 09:58] nafasebra commented on #1
Hello!
could i translate the [Hook API Reference](https://fa.reactjs.org/docs/hooks-reference.html) page?
please assign to me!
@zahrajoulaei @sorousht @sJJdGG @Schabaani

[2022-10-16 12:10] jestemAria commented on #1
Hi, Due to the previous mentions, this page was on me. Be informed that before working, make sure not to work on any similar page.

[2022-10-17 15:17] sJJdGG commented on #229
@nafasebra
<div dir='rtl'>
حتمن
تشکر بابت یادآوری این موضوع
اگر بتونید یک PR در این مورد انجام بدید عالی میشه!
</div>

[2022-10-18 14:37] jestemAria commented on #1
HI
I would like to translate `Versioning Policy` if you wish.

[2022-11-11 13:53] mahmood-kn commented on #1
Hi. I want to translate [Virtual DOM and Internals](https://fa.reactjs.org/docs/faq-internals.html) page.
Thank you.